*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.logo {
  height: 3.2rem;
}

.header {
  padding: 0.8rem 3.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.nav-list a:link,
.nav-list a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #0766ad;
}

.hero {
  background: url("img/bg.jpg");
  background-size: cover;
  height: calc(100vh - 4.8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.2rem;
  color: #b4082a;
}

.hero p {
  background-color: #f3f3f3b7;
  width: 50%;
  font-size: 2rem;
  color: #0d72d6;
  padding: 0.8rem 3.2rem;
  border-radius: 0.3em;
}

.close-btn {
  border: none;
  background-color: transparent;
  font-size: 3.6rem;
  color: #0d72d6;
  display: none;
}

.hamburger {
  flex-direction: column;
  gap: 3px;
  align-items: center;
  display: none;
  margin-left: auto;
}

.slice {
  width: 22px;
  height: 3px;
  background-color: #0d72d6;
}

.hamburger:hover,
.close-btn:hover {
  cursor: pointer;
}
